@media screen and (max-width : 769px)
{
    .form-group
    {
        margin-top: 30px;
    }
    .form-group h4 
    {
        font-size: 10px;
        margin-top: 20px;
    }

}
.sec-login
{
    /* background-image: url(../images/bg51.jpg); */
    background-repeat: no-repeat;
     background-size: cover;
}

.justify-content-center
{
    margin-top: 100px ; 
}

.form-group h4
{
    margin-top: 10px;
    text-align: center;
    color: #fff ;
    background-color: rgb(65, 24, 99) ; 
}

.form-group input
{
    padding: 27px ;
}
a.btn
{
    color: rgb(235, 228, 228);
    background-color: rgb(65, 24, 99);
} 


