
#recipes_main{ 
    background-image: url(../images/indian-food-25189724.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }
   .recipes_inner{ 
    padding-top:170px;
    padding-bottom:150px;
    background-color: #000000ab;
   }

   .recipes_main_1{ 
    text-align:center;
   }
   .recipes_main_1 h1{ 
    color:#fff;
   }
   .recipes_main_1 ul{ 
    padding-top:10px;
   }
   .recipes_main_1 li{ 
    display:inline;
    padding-right:5px;
    color: #fff;
    font-size: 25px;
   }
   .recipes_main_1 li a{ 
    color: #ffed00;
   }
      

div.header
{
  margin:auto;
  background: rgb(153, 158, 189);
  padding: 1%;
}
div h3
{
    color: rgb(59, 50, 50);
    font-family:cursive ;
}

.offer_1
{
  border-top: rgb(53, 22, 37) 3px solid;
  margin: 2% 0%;
}  

div.title , div.title2
{
  margin-bottom: 2%;
  background-color: #ffed00; 
  padding: 2%;
}
div.title h2 , div.title2 h2
{
  font-size: 20px ;
  color:rgb(110, 92, 92) ;
  font-family: cursive ;
}
   

div.card
{
  border: #0702529c 2px solid;
  margin:1% ;
  padding: 5px;
  
}   

p.btn
{
  text-align:center;
  padding:3% ;
  margin-top: 5%;
}
.bi a.button
{
  background-color:rgb(42, 167, 30);
}
.img-responsive
{
  border-radius: 10%;
  padding-bottom: 10px;
}

.offer2
{
  border-top: rgb(19, 22, 20) 3px solid;
  background-color: rgb(228, 112, 92);
  margin: 2% 0%;
}  

div.title2 
{
 background-color: #447575;
}
div.title2 h2
{
  color: rgb(227, 236, 213);
}

a.button
{
  margin-left: -10px;
  font-size: 20px;
}

@media screen and (max-width : 767px)
{
    div.title h2 , div.title2 h2
    {
        font-size: 20px;
    }
}