.serve-form
{
    background-image: url(../images/portfolio-1.jpg);
}


div.forms
{
    margin-top: 50px;
}

.form-group
{
    width: 90%;
    padding-bottom: 15px;
}


.form-group h3
{
    margin-top: 10px;
    text-align: center;
    color: #fff ;
    background-color: rgb(74, 56, 155); 
}

.form-group input
{
    padding: 27px ;
}


.form-group input.btn
{
    font-size: 20px;
    margin: -2px 45%;
    padding: 10px 20px ;
    color: rgb(235, 228, 228);
    background-color: rgb(74, 56, 155);
}


