#details_main
{ 
    background-image: url(../images/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.details_inner{ 
 padding-top:170px;
 padding-bottom:150px;
 background-color: #000000ab;
}
.details_main_1
{ 
 text-align:center;
}
.details_main_1 h1{ 
 color:#fff;
 text-align: center;
}
.details_main_1 ul{ 
 padding-top:10px;
}
.details_main_1 li{ 
 display:inline;
 padding-right:5px;
 color: #fff;
 font-size: 25px;
}
.details_main_1 li a{ 
 color: #ffed00;
}

@media screen and (max-width : 769px)
{
  .details_main_1 h1
  { 
    font-size: 40px;
  }
  .details_main_1 li
  { 
    font-size: 20px;
  }
  span.label 
  {
      left: 220px;
      font-size: 15px;
  }

  div.title h2
  {
      font-size: 20px;
  }
}

@media screen  and(max-width: 281px)
{
  .details_main_1 h1
  { 
    font-size: 3px;
  }
  .details_main_1 li
  { 
    font-size: 2px;
  }
  div.title h2
  {
      font-size: 20px;
  }
}


.items
{
    margin-top: 1%;
    background-color: snow;
    border: rgb(37, 107, 72) 2px solid;
}

div.title 
{
  font-family: cursive;
  background-color: rgb(67, 51, 105);
  margin-bottom: 2%;
  padding: 2% ;
}
div.title h2
{
    color:rgb(241, 237, 237) ;
    font-size: 40px;
}

div.card
{
  border: #a00d0d9c 2px solid;
  margin:1% ;
  padding: 10px;
  
}   

.img-responsive
{
  border-radius: 10%;
  padding-bottom: 10px;
}

span.badge
{
    font-size: 20px;
    padding: 3px 10px;
}

span.label 
{
    position: relative;
    left: 265px;
    top: 30px;
    font-size: 20px;
}

.btn-group button
{
    padding: 5px;
    font-size: 20px;
}
