body
{

    background-image: url(../images/indian-food-25189724.jpg);
    background-size:cover ;
}

.formm
{
    background-color: rgb(245, 245, 245) ;
}
<<<<<<< HEAD

input.form-control
{
    width: 50%;
}
=======
>>>>>>> 90f9f72676f86d14b417efe0f03588531fe21a68
